/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "variables";
@import "mixins";

.dashrow-container {
  .dashrow-row {
    align-items: stretch;
    background-color: @white;
    box-shadow: @dashrow-box-shadow;
    display: flex;
    height: @dashrow-row-height;
    // justify-content: space-between;
    margin: @dashrow-margin;
    padding: 0 10rem 0 6.5rem;
    position: relative;
    .dashrow-initial {
      .hexagon(@dashrow-hexagon-size);
      align-self: center;
      color: @white;
      left: -(@dashrow-hexagon-size/2);
      order: -1;
      position: absolute;
    }
    .dashrow-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .dashrow-value {
        color: @dashrow-value-font-color;
        font-size: @dashrow-value-font-size;

      }
      .dashrow-label {
        color: @dashrow-label-color;
        display: block;
        font-size: @dashrow-label-font-size;
        font-weight: lighter;
        text-transform: uppercase;
      }
    }
  }
  .dashrow-row:first-child {
    margin-top: 0;
  }
  .dashrow-row:last-child {
    margin-bottom: 0;
  }
}
